/*
 * Category page
 */

.category--main {
  padding-bottom: 3rem;
}

.category--main--subtitle {
  font-size: 2rem;
  font-family: $font-family-serif;
  color: $color;
  border-bottom: 1px solid $color;
}

/* category tags */
.category--tags {
  margin-top: 1rem;
}

.category--tags--link {
  display: inline-block;
  margin-right: .5rem;
  margin-bottom: .3rem;
  padding: 5px 10px;
  font-size: .8rem;
  border-radius: 10px;
  color: $text-color-inverse;
  background-color: $color-3;
  text-decoration: none;
}

/* category content */
.category--content--books {
  display: grid;
  grid-template-columns: auto auto;
  margin-bottom: 15px;

  @media (min-width: $extra-small) {
    grid-template-columns: none;
    display: flex;
    flex-wrap: wrap;
  }
}

.category--content--books--link {
  flex: 0 1 260px;
  color: $color;
  text-decoration: none;

  @media (min-width: $extra-small) {
    flex: 0 1 50%;
  }

  @media (min-width: $small) {
    flex: 0 0 33%;
  }

  @media (min-width: $medium) {
    flex: 0 0 25%;
  }

  &:hover {
    color: $color;
    text-decoration: none;
  }
}

.category--content--books--figure {
  margin: 1rem;
  text-align: center;
  background-color: var(--background-color);
  box-shadow: 0 4px 8px 0 $box-shadow, 0 6px 20px 0 $box-shadow;
  transition: box-shadow .5s ease-out;
  margin-bottom: 25px;

  &:hover {
    box-shadow: 0 4px 8px 0 $box-shadow-hover, 0 6px 20px 0 $box-shadow-hover;
  }
}

.category--content--books--figure--img {
  width: 100%;
  max-width: 260px;
  height: auto;
  max-height: 350px;
}

.category--content--books--figure--figcaption {
  max-width: 260px;
  text-align: center;
  padding: 10px 20px;
}

/* pagination */
.category--content--pagination {
  text-align: center;
}

.category--content--pagination--link {
  font-size: 1.3rem;
  padding: 5px 10px;
}

.category--content--pagination--link-active {
  font-weight: 700;
  padding: 5px 10px;
  border-radius: 10px;
  color: $text-color-inverse;
  background-color: $color-3;

  &:hover {
    color: $text-color-inverse;
  }
}
